{% extends "base.html" %}

{% block content %}
  <h1>Car: {{ car.model }}</h1>
  {% if car.manufacturer %}
    <ul>
      <li>{{ car.manufacturer.country }} {{ car.manufacturer.name }}</li>
      {% if car.drivers.all %}
      	{% for driver in car.drivers.all%}
          <li>{{ driver }}</li>
        {% endfor %}
      {% else %}
        <p>This car has no drivers</p>
      {% endif %}
    </ul>
  {% else %}
    <p>This car has no manufacture</p>
  {% endif %}

{% endblock %}
